In [11]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_csv(r'D:\Data Science\Assignments\Assignment #10 Recommandation System\book.csv', engine= 'python')
df

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   10000 non-null  int64
 1   User.ID      10000 non-null  int64
 2   Book.Title   10000 non-null  object
 3   Book.Rating  10000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 312.6+ KB

In [14]:
df2 = df.rename({'Book.Title' : 'title','User.ID' : 'user_id','Book.Rating':'rating'},axis=1)
df2.head(60)

,Unnamed: 0,user_id,title,rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
5,6,276744,The Kitchen God's Wife,7
6,7,276745,What If?: The World's Foremost Military Histor...,10
7,8,276747,PLEADING GUILTY,9
8,9,276747,Under the Black Flag: The Romance and the Real...,9
9,10,276747,Where You'll Find Me: And Other Stories,8
10,11,276747,Nights Below Station Street,7
11,12,276747,Hitler's Secret Bankers: The Myth of Swiss Neu...,7
12,13,276748,The Middle Stories,6
13,14,276751,Jane Doe,8
14,15,276754,A Second Chicken Soup for the Woman's Soul (Ch...,8
15,16,276755,The Witchfinder (Amos Walker Mystery Series),5
16,17,276760,More Cunning Than Man: A Social History of Rat...,10
17,18,276762,Goodbye to the Buttermilk Sky,5
18,19,276762,The Testament,8
19,20,276762,Beloved (Plume Contemporary Fiction),3
20,21,276762,Our Dumb Century: The Onion Presents 100 Years...,4
21,22,276768,New Vegetarian: Bold and Beautiful Recipes for...,4
22,23,276772,If I'd Known Then What I Know Now: Why Not Lea...,7
23,24,276772,Mary-Kate &amp; Ashley Switching Goals (Mary-K...,10
24,25,276772,Tell Me This Isn't Happening,10
25,26,276774,Flood : Mississippi 1927,9
26,27,276780,Wild Animus,7
27,28,276780,Airframe,7
28,29,276786,Timeline,6
29,30,276786,OUT OF THE SILENT PLANET,8
30,31,276786,Prague : A Novel,6
31,32,276786,Chocolate Jesus,6
32,33,276788,Wie Barney es sieht.,8
33,34,276788,Der Fluch der Kaiserin. Ein Richter- Di- Roman.,7
34,35,276788,Sturmzeit. Roman.,10
35,36,276796,Tage der Unschuld.,5
36,37,276798,Lying Awake,5
37,38,276798,To Kill a Mockingbird,7
38,39,276798,Seabiscuit: An American Legend,6
39,40,276800,Pigs in Heaven,7
40,41,276804,Miss Zukas and the Raven's Dance,8
41,42,276808,Pride and Prejudice,10
42,43,276811,The Therapeutic Touch: How to Use Your Hands t...,10
43,44,276812,Downtown,8
44,45,276813,Icebound,8
45,46,276813,I'll Be Seeing You,8
46,47,276813,From the Corner of His Eye,6
47,48,276813,Isle of Dogs,8
48,49,276813,Purity in Death,6
49,50,276813,This Year It Will Be Different: And Other Stories,6
50,51,276813,Proxies,8
51,52,276814,Left Behind: A Novel of the Earth's Last Days ...,8
52,53,276814,The Street Lawyer,7
53,54,276814,"Love, Medicine and Miracles",9
54,55,276820,All the King's Men,9
55,56,276822,Pacific Northwest,10
56,57,276822,A Soldier of the Great War,9
57,58,276822,Getting Well Again,10
58,59,276822,Northwest Wines and Wineries,9
59,60,276822,An Atmosphere of Eternity: Stories of India,9

In [15]:
df2.user_id.duplicated()

0       False
1       False
2        True
3       False
4       False
        ...
9995     True
9996     True
9997     True
9998     True
9999    False
Name: user_id, Length: 10000, dtype: bool

In [16]:
type(df2)

pandas.core.frame.DataFrame

In [17]:
len(df2.user_id.unique())

2182

In [18]:
len(df2.title.unique())

9659

In [19]:
len(df2.rating.unique())

10

In [20]:

df2.iloc[:,1].duplicated()

0       False
1       False
2        True
3       False
4       False
        ...
9995     True
9996     True
9997     True
9998     True
9999    False
Name: user_id, Length: 10000, dtype: bool

In [21]:
df.head(30)

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
5,6,276744,The Kitchen God's Wife,7
6,7,276745,What If?: The World's Foremost Military Histor...,10
7,8,276747,PLEADING GUILTY,9
8,9,276747,Under the Black Flag: The Romance and the Real...,9
9,10,276747,Where You'll Find Me: And Other Stories,8
10,11,276747,Nights Below Station Street,7
11,12,276747,Hitler's Secret Bankers: The Myth of Swiss Neu...,7
12,13,276748,The Middle Stories,6
13,14,276751,Jane Doe,8
14,15,276754,A Second Chicken Soup for the Woman's Soul (Ch...,8
15,16,276755,The Witchfinder (Amos Walker Mystery Series),5
16,17,276760,More Cunning Than Man: A Social History of Rat...,10
17,18,276762,Goodbye to the Buttermilk Sky,5
18,19,276762,The Testament,8
19,20,276762,Beloved (Plume Contemporary Fiction),3
20,21,276762,Our Dumb Century: The Onion Presents 100 Years...,4
21,22,276768,New Vegetarian: Bold and Beautiful Recipes for...,4
22,23,276772,If I'd Known Then What I Know Now: Why Not Lea...,7
23,24,276772,Mary-Kate &amp; Ashley Switching Goals (Mary-K...,10
24,25,276772,Tell Me This Isn't Happening,10
25,26,276774,Flood : Mississippi 1927,9
26,27,276780,Wild Animus,7
27,28,276780,Airframe,7
28,29,276786,Timeline,6
29,30,276786,OUT OF THE SILENT PLANET,8

In [22]:
user_rec = df2.pivot_table(index='user_id',
                       columns='title',
                       values='rating')

In [23]:
user_rec.fillna(0,inplace=True)

In [24]:
user_rec.to_csv("recom.csv")

In [25]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import correlation,cosine

In [26]:

user_book = 1-pairwise_distances(user_rec.values,metric = 'cosine')

In [27]:
pd.DataFrame(user_book)

,0,1,2,3,4,5,6,7,8,9,...,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0